        body {
            background-color: rgb(214, 247, 247);
            padding: 0px;
            margin: 0px;
            display: flex;
            /* gap: 20px; */

        }

        * {
            font-family: "Nunito", sans-serif;
        }

        h1,
        h3,
        h4 {
            font-family: Semi-bold, sans-serif;
        }


        .section1 {
            height: 1020px;
            width: 200px;
            background-color: #FFFFFF;
            margin-left: 20px;
            margin-top: 20px;
            border-radius: 5px;
            align-items: center;


        }

        .section1 img {
            height: 51.44px;
            width: 120px;
            margin: 20px;
            padding: 20px;
        }

        .dash {
            height: 40px;
            width: 164px;
            background-color: #3F8CFF1A;
            margin-left: 20px;
            border-radius: 5px;
            display: flex;
            gap: 10px;
            font-size: large;
            justify-content: center;
            align-items: center;
            color: #5793ed;
            margin-bottom: 50px;

        }

        .log {
            justify-content: flex-end;
            display: flex;
            position: relative;


        }

        .log h4 {
            position: absolute;
            display: flex;
            top: 560px;
            right: 90px;
            background-color: #3F8CFF1A;

        }

        .task {
            padding-left: 20px;
        }

        .section2 {
            /* border-radius: 10px; */

            border-radius: 5px;
            margin-top: 20px;
            padding-left: 20px;
            width: 1167px;
        }

        .btn {
            border-radius: 1px solid black;
            background-color: #5793ed;
            color: white;
            border-radius: 30px;
            height: 30px;
            width: 95px;
        }

        .hero {
            display: flex;
            gap: 400px;
            height: 240px;
            width: 1150px;
            margin-top: 10px;
            background-color: #FFFFFF;
            padding-left: 20px;
            border-radius: 10px;

        }


        .dimg {
            display: flex;


        }

        .dflex img {
            margin-top: 50px;
        }


        .img2 {
            height: 190px;
            width: 260px;

        }

        .right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 70px;
            gap: 20px;
        }


        /* .right div i { */
        font-size: x-large;
        justify-content: center;
        align-items: center;
        display: flex;

        /* } */

        .circle {
            height: 50px;
            width: 50px;
            border-radius: 50px;
            background-color: #FFFFFF;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .evan {
            height: 50px;
            width: 140px;
            background-color: #FFFFFF;
            display: flex;
            align-items: center;
            text-align: center;
            border-radius: 10px;
        }

        .img3 {
            height: 50px;
            width: 50px;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .big {
            height: 103px;
            width: 1150px;
            border-radius: 8px;
            background-color: #3F8CFF;
            margin-top: 20px;
            display: flex;
            gap: 30px;
            align-items: center;
            padding-left: 20px;
        }

        .big .all-tak {
            height: 70px;
            width: 200px;
            /* margin-left: 20px; */
            border-radius: 5px;
            background-color: #fff;
            display: flex;
            box-sizing: border-box;

            padding-left: 5px;
            text-align: center;
            justify-content: space-between;
            margin-left: 3px;


        }

        .all-tak:hover {
            background-color: #105DD0;
            color: #FFFFFF;
        }

        .circle1 {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 3px solid rgb(4, 244, 4);
            margin-top: 7px;
            justify-content: center;
            display: flex;
            margin-right: 10px;
            align-items: center;




        }

        .big .all-tak h4 {
            color: #000000;
        }

        .big div p {
            background-color: white;
            border-radius: 15px;
            color: black;
            justify-content: center;
            align-items: center;
            display: flex;

        }

        .last {
            padding-right: 10px;

        }

        .All {
            font-size: large;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 1000px;
        }

        .All div {
            height: 30px;
            width: 30px;
            background-color: #FFFFFF;
            border-radius: 50px;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .card {
            width: 550px;
            height: 176px;

            border-radius: 10px;
            background-color: #fff;


        }

        .card .head {
            width: 550px;
            height: 44px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: #3F8CFF;
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            font-size: smaller;


        }

        .card .head button {
            height: 34px;
            width: 83px;
            background-color: #FFFFFF;
            border-radius: 10px;
            font-size: x-small;
            border-radius: rounded-pill;
            margin: 10px;
            color: #105DD0;

        }

        .dis {

            padding-left: 10px;
            display: flex;

        }

        .dis2 {
            padding: 0px;
            width: 350px;
            margin-top: 10px;
        }

        /* .dis2 h4 { */
        padding: 0px;
        /* } */

        .dis div {
            font-weight: bolder;
        }

        .dis p {
            font-size: x-small;
        }

        .dis3 {
            border-left: 3px solid #3F8CFF;
            margin-top: 5px;

            padding: 0px 10px;
            text-align: center;

        }

        .bottom {
            margin-top: 7px;
            border-top: 1px solid #000000;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;



        }

        .bottom div {
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .bottom button {
            border-radius: 1px solid black;
            background-color: #5793ed;
            color: black;
            border-radius: 30px;
            height: 30px;
            width: 95px;
            font-weight: 700;
        }

        .flex {
            display: flex;
            margin: 20px;
            gap: 25px;
        }